.InputFieldLayout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 12px;
}

.InputLabel {
  width: 100px;
  font-size: 18px;
  height: 28px;
}

.InputField {
  font-size: 18px;
  width: 100%;
}