/* ТОЛЬКО ИНСАЙД ИН! */
/* ПОМНИ АНАКИН */

.Layout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.LayoutLeft {  
  box-sizing: border-box;
  padding-right: 14px;
  width: 296px;
}

.LayoutRight {  
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 8px solid #ffdb4d;
  width: 296px;
}


@media (max-width: 623px) {
  .LayoutRight {
    margin-top: 16px;
    padding-left: 0px;
    border-left: none;
  }
}